@import url("https://unpkg.com/98.css@latest/dist/98.css");
html {
  scroll-behavior: smooth;
  transition: 0.3s ease-out;
}
body {
  padding: 1em;
  background: #666;
}
input {
  width: 90%;
}
#windowEl {
  height: 75vh;
}
.window-body {
  height: 50vh;
}
button {
  margin: 0 0.3em 0 0.3em;
}
fieldset {
  margin: 1.5em 0 0.3em 0;
}
#imgWrapper {
  padding: 1em;
  background: transparent;
  max-width: 100%;
}
#bratImg {
  width: inherit;
  max-width: inherit;
  opacity: 0;
}

.flex {
  display: flex;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}



body.desktop {
  padding: 1em 25% 1em 25%;
}
.no-padding {
  padding:0;
  margin:0;
}
.full-w-h {
  width: 100% !important;
  height: 100vh !important;
}
.full-w-h-desktop {
  width: 100vh !important;
  height: 100vh !important;
}

.hidden {
  display: none;
}