@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  user-select: none;
}
 .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
h1 > .material-icons {
  font-size: inherit;
}
.material-icons {
  font-size:16px;
  padding-left: 5px;
}

