@import "tailwindcss";

:root {
            --primary: #6750A4;
            --on-primary: #FFFFFF;
            --primary-container: #EADDFF;
            --on-primary-container: #21005D;
            --secondary: #625B71;
            --on-secondary: #FFFFFF;
            --secondary-container: #E8DEF8;
            --on-secondary-container: #1D192B;
            --tertiary: #7D5260;
            --on-tertiary: #FFFFFF;
            --tertiary-container: #FFD8E4;
            --on-tertiary-container: #31111D;
            --surface: #FFFBFE;
            --on-surface: #1C1B1F;
            --surface-variant: #E7E0EC;
            --on-surface-variant: #49454F;
            --outline: #79747E;
            --outline-variant: #CAC4D0;
            --shadow: #000000;
            --scrim: #000000;
            --inverse-surface: #313033;
            --inverse-on-surface: #F4EFF4;
            --inverse-primary: #D0BCFF;
            --surface-tint: #6750A4;
            --surface-tint-color: #6750A4;
        }
